@import "fonts"
@import "libs"
@import "vars"
@import "normalize"

.container 
    display: block
    width: 100%
    max-width: 1200px
    margin-left: auto 
    margin-right: auto
 
button, input[type="submit"] 
    cursor: pointer
button, input, textarea
    &:focus 
        outline: none 
p 
    font-size: 14px
    font-weight: 400
    font-family: 'opensans'
    line-height: 24px
body 
    &.no-scroll
        overflow-y: hidden