.b-article 
    padding-top: 9px 
    h2 
        margin-bottom: 68px
        @media screen and (max-width: 991px)
            margin-bottom: 40px
    h3 
        color: $accent 
        font-family: 'opensansbold' 
        font-weight: 700
        font-size: 18px
        margin-top: 0
        margin-bottom: 4px
        @media screen and (max-width: 768px)
            display: block
            margin-bottom: 30px
            text-align: center
    p
        margin-top: 0 
        margin-bottom: 24px
        @media screen and (max-width: 768px)
            padding-left: 10px
            padding-right: 10px
            text-align: justify
