.b-object-hero 
    &__headline 
        margin-bottom: 14px
        h1 
            display: block
            font-size: 30px
            font-family: 'lora-bold'
            color: #0284a8
            line-height: 1
            margin-top: 0
            margin-bottom: 2px
    &__location 
        color: #919292
        font-size: 12px
        line-height: 24px
        font-weight: 400
        font-family: 'opensans'
        position: relative 
        display: flex
        flex-direction: row 
        align-items: center
        &::before 
            content: ''
            display: inline-block
            width: 13px
            height: 13px
            background-image: url('../img/Icons/location.svg')
            background-size: 100% auto 
            background-position: center center
            background-repeat: no-repeat
            margin-right: 10px